<div ng-class="{ 'highlight': highlight, 'expanded' : expanded }">
  <div class="panel panel-default"
       has-context-menu
       target="MyMenu">
    <div class="panel-body">
      Right-click anywhere within this panel.
    </div>
  </div>
  <div ng-repeat="menuData in contextData track by $index"
       class="panel panel-default"
       has-context-menu
       locals="menuData"
       target="MyMenu">
    <div class="panel-body">
      Right-click anywhere here to get a context-sensitive menu entry.

      Context Data:
      <span ng-bind="menuData"/>
    </div>
  </div>
</div>
